file/
bigtranslate/
seamless_communication/
desktop.ini
*/*/.vscode/
pytool/__pycache__/
docs/
LibreTranslate/
goapi/goapi.exe
file
__pycache__
*.out
go.mod
go.sum
goapi/log/
.vscode
config.*
.env*
goapi/goapi