file/
bigtranslate/
seamless_communication/
desktop.ini
*/*/.vscode/
pytool/__pycache__/
pytool/storage/r2_initialize.py
pytool/storage/r2_readFileInfo.py
goapi/src/utils/fileUtil.go
pytool/storage/r2_init.py
goapi/config.ini
docs/
LibreTranslate/
goapi/goapi.exe
goapi/goapi
goapi/config.ini
file
__pycache__
*.out
go.mod
go.sum
goapi/log/
.vscode
config.*
.env*
goapi/goapi