.xPanel_out {
    display:block;
    position: fixed;
    right: 0;
    bottom: 100px;
    background-color: lightgray;
    z-index: 1000;
}

.jplhlL {
    padding: 20px;
    font-weight: 400;
    color: #ccc;
    font-size: 32px;
    line-height: 1.5
}

.bxGhje {
    font-weight: 400;
    color: #ccc;
    font-size: 20px;
    line-height: 1.5
}

.dAmZop {
    padding: 20px;
    font-weight: 400;
    color: #ccc;
    font-size: 16px;
    line-height: 1.5
}

.fMvWrz {
    font-weight: 400;
    color: #ccc;
    font-size: 16px;
    line-height: 1.5
}

.dvNGmB {
    margin: 10px;
    font-weight: 400;
    color: red;
    font-size: 16px;
    line-height: 1.5
}

.bwguhV {
    margin: 10px;
    font-weight: 400;
    color: #ccc;
    font-size: 16px;
    line-height: 1.5
}

.jiUeDf {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #ccc;
    font-size: 16px;
    line-height: 1.5
}

.eixQas {
    font-weight: 700
}

.jvBbsN {
    display: flex;
    flex-direction: column
}

.kILzyq {
    margin: 10px;
    display: flex;
    flex-direction: column
}

.caTBb {
    margin: 50px;
    display: flex;
    flex-direction: column
}

.fThdMI {
    margin: 20px;
    display: flex;
    flex-direction: column
}

.dBlfxe {
    margin: 50px 10px;
    display: flex;
    flex-direction: column
}

.jFIgLp {
    background-color: #111;
    overflow: hidden
}

.kqhdWm {
    transition: all .25s ease 0s;
    border: none;
    border-radius: 10px;
    outline-width: 0;
    background-color: #333;
    opacity: 1;
    pointer-events: initial;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 2px
}

.kqhdWm:hover {
    cursor: pointer;
    background-color: #383838
}

.kqhdWm:active {
    transition: all 0s ease 0s;
    background-color: #404040
}

.emdnWG {
    transition: all .25s ease 0s;
    opacity: 1;
    pointer-events: initial
}

.emdnWG:hover {
    cursor: pointer;
    color: #b8b8b8
}

.emdnWG:active {
    transition: all 0s ease 0s;
    color: #999
}

.jDXoIe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom)
}

.bpSUZr {
    color: #ccc;
    text-decoration: none;
    transition: all .5s ease 0s
}

.bpSUZr:hover {
    transition: all .5s ease 0s;
    cursor: pointer;
    color: #999;
    text-decoration: none
}

.bpSUZr:active {
    transition: all 0s ease 0s;
    color: #666
}